# goreleaser
dist
result

# Data Base and log files
data
**/seekr.log

# Data Base for tests
api/test-data

# Binaries
seekr
seekr.exe

# Dev stuff
.direnv

cmd/seekr-cli/seekr-cli
examples/plugins/**/**.bundle
examples/plugins/**/plugin.so

# Type scritp because java script sucks
./web/dist
Seekr.AppDir

