/data.json
/seekr.exe
result
data.json
data.json.example
.direnv
seekr
seekr.log
main
main.c
main.h
a.out
notes.txt
data.json.old

dist/

dist/
seekr.log
cmd/seekr-cli/build.sh
cmd/seekr-cli/seekr-cli.so


# Added by cargo

/target
