[data-theme="lavender"] {
    /* Background */

    --bg: #3f2739;
    --bg-bright: #40293b;

    /* Text */

    --textColor-1: #784662;
    --textColor-hover: #95617d;

    /* Icons */

    --iconColor-1: #9CCF9B;
    --iconColor-2: #8c94A4;
    --iconColor-3: #CF9B9B;

    /* Loading spinner */

    --loadingColor: #d794b8;
    --loadingColor-dark: #6f616e;

    /* No search results text */

    --noResultsText: #63445575;

    /* Shadow */

    --shadow-1: #361f2d;
    --shadow-2: #3c2131;

    --shadowPreset-1: 0.8rem 0.8rem 1.4rem var(--shadow-1), -0.2rem -0.2rem 1.8rem var(--shadow-2);
    --shadowPreset-2: inset 0.2rem 0.2rem 0.5rem var(--shadow-1), inset -0.2rem -0.2rem 0.5rem var(--shadow-2);
    --shadowPreset-3: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
    --shadowPreset-4: 8px 8px 16px var(--shadow-1), -8px -8px 16px var(--shadow-2);
    --shadowPreset-5: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
    --shadowPreset-6: inset 6.91px 6.91px 15px var(--shadow-1), inset -6.91px -6.91px 15px var(--shadow-2);
    --shadowPreset-7: 0 0 15px var(--loadingColor);
}