html {
  background: var(--bg);
} 

.frame {
  position: absolute;
  top: 0;
  left: 0;
}

#seekr-window {
  border-radius: 1rem;
}

.bg-img-logo {
  width: 18vh;
  height: 18vh;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

.shortcut-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7vh;
  height: 7vh;
  border-top-left-radius: 50%;
  box-shadow: var(--shadowPreset-3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: var(--textColor-1);
  transition: all .5s ease;
}

.shortcut-menu:hover {
  color: var(--textColor-hover);
}

.shortcut-menu:active {
  box-shadow: var(--shadowPreset-2);
  color: var(--textColor-hover);
}

.menu-icon {
  font-size: 2.5rem;
}

.app-icon {
  display: flex;
  width: 4vh;
  height: 4vh;
  align-self: center;
  transition: all .5s ease;
}

.app-bar {
  position: absolute;
  right: 0;
  margin: 1vh;
  margin-right: 0;
  width: 7vh;
  height: 90vh;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: var(--shadowPreset-3);
  display: flex;
  flex-direction: column;
  margin-left: 1.37rem;
  animation: rollOut 0.4s ease-in-out forwards;
}

@keyframes rollOut {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.app-bar.clicked {
  animation: rollIn 0.4s ease-in-out forwards;
}

@keyframes rollIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.app-shortcut {
  justify-content: center;
  position: relative;
  width: 5vh;
  height: 5vh;
  margin: 1vh;
  border-radius: 50%;
  box-shadow: var(--shadowPreset-3);
  display: flex;
  font-size: 2rem;
  cursor: pointer;
  color: var(--greyDark);
  transition: all .5s ease;
}

.app-shortcut:hover {
  color: var(--primary);
}

.app-shortcut:active {
  box-shadow: var(--shadowPreset-2);
  color: var(--primary);
}
