*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--bg);
}

.dropdown {
    position: relative;
    box-shadow: var(--shadowPreset-3);
    border-radius: 1rem;
    background: var(--bg);
    /* top: 50px; */
    /* left: 45%; */
    margin-top: 10px;
    margin-left: 10px;
    width: 17rem;
    height: 4rem;
}

.dropdown::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.2s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: var(--bg);


    font-size: 1.2em;
    border: none;
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
    padding: 1.2rem 2rem;
    border-radius: 1rem;
}

.dropdown .options {
    font-size: 1.2em;
    position: relative;
    top: 70px;
    width: 100%;
    background: var(--bg);
    overflow: hidden;
    display: none;
}

.dropdown.active .options {
    z-index: 9999;
    display: block;

    position: relative;
    font-family: Arial;
    margin-top: 0.5rem;
    width: 100%;
    height: auto;

    padding: 0.4rem 0.8rem;
    border: 0.1rem solid transparent;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
}

.dropdown .options div {
    padding: 0.4rem 0.6rem;
    border: 0.1rem solid transparent;
    cursor: pointer;
    border-radius: 0.1rem;
    color: var(--textColor-1);
}

.dropdown .options div:hover {
    background: var(--bg-bright);
    color: var(--textColor-hover);
}
