.dd-nav-bar {
  position: absolute;
  top: 0;
  height: 8vh;
  width: 100%;
  background-color: var(--bg-bright);
  background: linear-gradient(0deg, var(--bg-bright) 50%, var(--bg) 100%);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
  display: flex;
  align-items: center;
}





.existing-info-form {
  margin-left: 3rem;
  display: flex;
}



/*  CHECKBOX  */
.checkbox_01 input,
.checkbox_02 input,
.checkbox_03 input,
.checkbox_04 input,
.checkbox_05 input,
.checkbox_06 input,
.checkbox_07 input {
  display: none;
}

.checkbox_01,
.checkbox_02,
.checkbox_03,
.checkbox_04,
.checkbox_05,
.checkbox_06,
.checkbox_07 {
  width: 4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.checkbox_01 label,
.checkbox_02 label,
.checkbox_03 label,
.checkbox_04 label,
.checkbox_05 label,
.checkbox_06 label,
.checkbox_07 label {
  box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 2.8rem;
  height: 2.8rem;
}

.checkbox_01 label:hover i,
.checkbox_02 label:hover i,
.checkbox_03 label:hover i,
.checkbox_04 label:hover i,
.checkbox_05 label:hover i,
.checkbox_06 label:hover i,
.checkbox_07 label:hover i {
  color: var(--textColor-hover);
}

.checkbox_01 label i,
.checkbox_02 label i,
.checkbox_03 label i,
.checkbox_04 label i,
.checkbox_05 label i,
.checkbox_06 label i,
.checkbox_07 label i {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--textColor-1);
  transition: 0.3s ease;
}

.checkbox_01 input:checked ~ label,
.checkbox_02 input:checked ~ label,
.checkbox_03 input:checked ~ label,
.checkbox_04 input:checked ~ label,
.checkbox_05 input:checked ~ label,
.checkbox_06 input:checked ~ label,
.checkbox_07 input:checked ~ label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--shadow-1), inset -0.2rem -0.2rem 0.5rem var(--shadow-2);
}

.checkbox_01 input:checked ~ label i,
.checkbox_02 input:checked ~ label i,
.checkbox_03 input:checked ~ label i,
.checkbox_04 input:checked ~ label i,
.checkbox_05 input:checked ~ label i,
.checkbox_06 input:checked ~ label i,
.checkbox_07 input:checked ~ label i {
  color: var(--textColor-hover);
}

.desc-text {
  font-size: 1.3rem;
  color: var(--textColor-1);
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.form-option {
  display: flex;
  align-items: center;
}





.country-select {
  position: relative;
  font-family: Arial;
  margin: 2rem;
  width: 17rem;
}

.country-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  margin-bottom: 1rem;
  justify-self: center;
  width: 17rem;
  height: 3rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
  display: flex;
  align-items: center;
  margin-left: 1.37rem;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: -1px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--textColor-1) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--textColor-1) transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: var(--textColor-1);
  font-size: 1.3rem;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  height: auto;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--bg);
  margin-top: 0.5rem;
  width: 17rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
  margin-left: 1.37rem;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}