.settings-table {
    display: block;
    width: 57.5rem;
    height: auto;
    margin: 1rem;
}

.scroll-body {
    overflow-y: scroll;
    height: 63rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-body::-webkit-scrollbar {
    display: none;
  }

.settings-option {
    display: block;
    padding: 1rem;
}

.settings-name {
    font-size: 1.4rem;
    padding-bottom: 1rem;
    color: var(--textColor-1);
}

.flex-option-container {
    align-items: center;
    display: flex;
    width: 100%;
}

.option-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--textColor-1);
}

#settings-savebtn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4rem;
    margin-bottom: 3rem;
    width: 15rem;
}

/* Port selection */
.workers-tag,
.port-tag,
.ip-tag {
    font-size: 1.4rem;
    color: var(--textColor-1);
    outline: none;
    width: 100%;
    margin-right: 1rem;
    background: transparent;
    border: none;
    resize: none; /* Prevent manual resizing */
    overflow: hidden; /* Hide extra text when the input is small */
}

@media screen and (max-width: 480px) {
  .ip-tag {
    font-size: 1.2rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}



.workers-tag::placeholder,
.port-tag::placeholder,
ip-tag::placeholder  {
    color: var(--textColor-1);
}



.workers-chip {
    width: 11.5rem;
    height: 3rem;
}
.port-chip {
    width: 11.5rem;
    height: 3rem;
}

.ip-chip{
    width: 40rem!important;
    height: 3rem;
}


/* Theme selection */

.theme-option {
    height: fit-content;
    width: 54rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0;
}

.theme-card {
    width: 90%;
    height: 8vw;
    margin: 1rem;
    background-color: var(--bg);
}

.colors {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.theme-text {
    font-size: 1.6rem;
    color: var(--textColor-1);
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.theme-text:hover {
    color: var(--textColor-hover);
}

.small-card {
    height: 50%;
    min-width: 50%;
    width: fit-content;
}

.big-card {
    justify-content: center;
    box-shadow: none;
    transition: 0.3s ease;
}

.big-card:hover {
    box-shadow: 0 0 0 0.2rem var(--textColor-hover);
    cursor: pointer;
}
