:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  background: var(--greyLight-1);
}

@media screen and (min-width: 900px) {
  html {
    font-size: 75%;
  }
}


#no-results {
  display: none;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#no-results-text {
  margin: 2rem;
  font-size: 1.7rem;
  color: rgba(155, 170, 207, 0.5);
}

.hitbox {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100%;
  width: 100%;
}

.search-chip {
  width: 30rem;
  height: 4rem;
  display: flex;

}

.search-container {
  display: flex;
}

.term-container {
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 2rem;
  margin: 1rem;
}

.term-header {
  font-size: 1.6rem;
  color: var(--greyDark);
  margin-left: 2rem;
}

.acc-row {
  margin-bottom: 2rem;
}

.acc-header {
  align-items: center;
  justify-self: center;
}

.manage-btn-container {
  right: 0;
  position: absolute;
  margin-right: 1rem;
}

.manage-acc-chip {
  flex-direction: row;
  height: 9rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.acc-search-icon {
  font-size: 1.4rem;
}

#acc-chip {
  display: inline-block;
  margin-left: 1rem;
  margin-top: 1rem;
}

#acc-search-chip {
  display: inline-block;
  margin-left: 1rem;
  width: 4rem;
  position: relative;
  bottom: -0.2rem;
}

#acc-searchbtn {
  margin-top: 0;
}

#acc-rejectbtn {
  float: right;
  margin: 2rem;
  margin-right: 2rem;
}

#acc-acceptbtn {
  float: right;
  margin: 2rem;
  margin-left: 5rem;
}

#e-accbtn {
  float: none;
  margin: 2rem;
  width: 20rem;
}

.left-container {
  width: 40rem;
}

.userPfp {
  float: left;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin: 0.5rem;
}

.accounts {
  display: block;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

#accounts {
  display: block;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.acc-chip {
  display: flex;
  flex-direction: row;
  height: 9rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.serviceName {
  font-size: 1.5rem;
  color: var(--greyDark);
}

.userName {
  font-size: 2rem;
  color: var(--greyDark);
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
}

.userBio {
  font-size: 1.7rem;
  color: var(--greyDark);
}

.table {
  display: flex;
}

.e-name-tag,
.c-name-tag,
.acc-name-tag,
.name-tag {
  font-size: 1.7rem;
  color: var(--greyDark);
  outline: none;
}

#e-showid {
  color: transparent;
  font-size: 0;
}

.tag {
  display: flex;
  font-size: 1.4rem;
  color: var(--greyDark);
  margin: 1.2rem;
  margin-right: 0.4rem;
  position: relative;
  top: 0;
}

.scroll-box {
  overflow: hidden;
  overflow-y: scroll;
  height: 42rem;
}

.scroll-box p {
  display: flex;
}

.scroll-box::-webkit-scrollbar {
  width: 12px;
  -webkit-appearance: none;
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: var(--greyLight-1);
  background: #E4EBF5;
  border-radius: 3rem;
  box-shadow: inset 6.91px 6.91px 15px #D9DFE9, inset -6.91px -6.91px 15px #EFF7FF;
}

.container,
.acc-container,
.create-container,
.edit-container {
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: var(--greyLight-1);
  overflow: hidden;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: var(--greyLight-1);
  overflow: hidden;
}

.components {
  position: relative;
  width: 80rem;
  height: 60rem;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 4rem;
  overflow: hidden;
}

/*  BUTTONS  */


#newbtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4rem;
  margin-bottom: 3rem;
}

#c-savebtn,
#e-savebtn {
  margin-right: 2rem;
}

.btn {
  width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-secondary {
  float: right;
  margin-top: 2rem;
  color: var(--greyDark);
}

.btn-secondary:hover {
  color: var(--primary);
}

.btn-secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.btn p {
  font-size: 1.6rem;
}

/*  FORM  */

.form {
  display: table-cell;
  min-width: 10rem;
  max-width: 60rem;
  align-items: flex-start;
  margin: 1rem;
  margin-left: 0.7rem;
}

.form-input {
  display: inline-block;
  width: 100%;
  height: fit-content;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}

.form-input::-moz-placeholder {
  color: var(--greyLight-3);
}

.form-input:-ms-input-placeholder {
  color: var(--greyLight-3);
}

.form-input::placeholder {
  color: var(--greyLight-3);
}

.form-input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}


/* LIST */

#list-holder {
  padding: 2rem;
  overflow: hidden;
  height: 43rem;
  column-count: 2;
  column-fill: auto;
  padding-left: 1rem;
}

#list-holder li {
  padding: 0.5rem;
  color: var(--greyDark);
}

/*  CHIP  */
.chip {
  margin-bottom: 1rem;
  justify-self: center;
  width: 32rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  display: flex;
  align-items: center;
  margin-left: 1.37rem;
}

.chip-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  margin: 0 0 0 0.2rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: var(--primary);
}

.text-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.card-text {
  font-size: 1.2rem;
  color: var(--greyDark);
}

.chip-view {
  display: flex;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.5rem;
  display: flex;
  font-size: 1.6rem;
  color: var(--greyLight-3);
  cursor: pointer;
}

.chip-edit,
.chip-acc,
.chip-delete {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.5rem;
  display: flex;
  font-size: 1.6rem;
  color: var(--greyLight-3);
  cursor: pointer;
}


/*  SEARCH  */
.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 72rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 3.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}

.search-input::-moz-placeholder {
  color: var(--greyLight-3);
}

.search-input:-ms-input-placeholder {
  color: var(--greyLight-3);
}

.search-input::placeholder {
  color: var(--greyLight-3);
}

.search-input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.search-input:focus+.search-icon {
  color: var(--primary);
}

.search-icon {
  height: 2rem;
  position: absolute;
  font-size: 2rem;
  padding: 0 1rem;
  display: flex;
  color: var(--greyDark);
  transition: 0.3s ease;
}

.info-container {
  max-width: 29rem;
}

.neu {
  top: 1rem;
  width: 4rem;
  height: 4rem;
  background: transparent;
  float: right;
  display: none;
  align-items: center;
  position: relative;
  justify-content: center;
}
.neu_shape,
.neu_inner {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--greyLight-1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.neu_inner {
  width: 2.3rem;
  height: 2.3rem;
  box-shadow: 8px 8px 16px var(--greyLight-2), -8px -8px 16px var(--white);
}
.neu_ball {
  position: absolute;
  height: 4rem;
  width: 0.44rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.neu_ball::before,
.neu_ball::after {
  content: "";
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
  top: 3px;
  box-shadow: 0 0 15px var(--primary);
  background-image: linear-gradient(112deg, var(--primary-dark) 21.6%, var(--primary) 92.2%);
}
.neu_ball::after {
  top: auto;
  bottom: 3px;
}
.neu_ball:nth-child(1) {
  animation: spin 5s ease-in-out infinite;
  z-index: 4;
}
.neu_ball:nth-child(2) {
  animation: spin 5s 0.04s ease-in-out infinite;
  z-index: 3;
  opacity: 0.7;
}
.neu_ball:nth-child(3) {
  animation: spin 5s 0.08s ease-in-out infinite;
  z-index: 2;
  opacity: 0.4;
}
.neu_ball:nth-child(4) {
  animation: spin 5s 0.12s ease-in-out infinite;
  z-index: 1;
  opacity: 0.4;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}
.neu_ball:nth-child(2)::before,
.neu_ball:nth-child(2)::after {
  transform: scale(0.9);
}
.neu_ball:nth-child(3)::before,
.neu_ball:nth-child(3)::after {
  transform: scale(0.8);
}
.neu_ball:nth-child(4)::before,
.neu_ball:nth-child(4)::after {
  transform: scale(0.7);
}