:root {
  --brightContrastColor: #E4EBF5;

  --loadingColor: #6d5dfc;
  --loadingColor-dark: #5b0eeb;

  --noResultsText: rgba(155, 170, 207, 0.5);

  --bg: #E4EBF5;

  --textColor-1: #9baacf;
  --textColor-hover: #6d5dfc;

  /* Shadows */

  --shadow-1: #c8d0e7;
  --shadow-2: #FFFFFF;

  --shadowPreset-1: 0.8rem 0.8rem 1.4rem var(--shadow-1), -0.2rem -0.2rem 1.8rem var(--shadow-2);
  --shadowPreset-2: inset 0.2rem 0.2rem 0.5rem var(--shadow-1), inset -0.2rem -0.2rem 0.5rem var(--shadow-2);
  --shadowPreset-3: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
  --shadowPreset-4: 8px 8px 16px var(--shadow-1), -8px -8px 16px var(--shadow-2);
  --shadowPreset-5: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
  --shadowPreset-6: inset 6.91px 6.91px 15px var(--shadow-1), inset -6.91px -6.91px 15px var(--shadow-2);
  --shadowPreset-7: 0 0 15px var(--loadingColor);
}

[data-theme="dark"] {
  --brightContrastColor: #E4EBF5;

  --loadingColor: #FFFFFF;
  --loadingColor-dark: #cacaca;

  --noResultsText: #68686875;

  --textColor-1: #939393;
  --textColor-hover: #FFFFFF;

  --bg: #2c2c2c;
  --bg-bright: #303030;

  /* Shadow */

  --shadow-1: #1e1e1f;
  --shadow-2: #353535;

  --shadowPreset-1: 0.8rem 0.8rem 1.4rem var(--shadow-1), -0.2rem -0.2rem 1.8rem var(--shadow-2);
  --shadowPreset-2: inset 0.2rem 0.2rem 0.5rem var(--shadow-1), inset -0.2rem -0.2rem 0.5rem var(--shadow-2);
  --shadowPreset-3: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
  --shadowPreset-4: 8px 8px 16px var(--shadow-1), -8px -8px 16px var(--shadow-2);
  --shadowPreset-5: 0.3rem 0.3rem 0.6rem var(--shadow-1), -0.2rem -0.2rem 0.5rem var(--shadow-2);
  --shadowPreset-6: inset 6.91px 6.91px 15px var(--shadow-1), inset -6.91px -6.91px 15px var(--shadow-2);
  --shadowPreset-7: 0 0 15px var(--loadingColor);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  transition: 0.15s ease;
}

body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: var(--bg);
}

@media screen and (min-width: 900px) {
  html {
    font-size: 75%;
  }
}

.phone-icon {
  height: unset !important;
}

.gender-select {
  position: relative;
  font-family: Arial;
  margin-top: 0.5rem;
  width: 17rem;
}

.gender-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  margin-bottom: 1rem;
  justify-self: center;
  width: 20rem;
  height: 3rem;
  border-radius: 1rem;
  box-shadow: var(--shadowPreset-3);
  display: flex;
  align-items: center;
  margin-left: 1.37rem;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: -3.5rem;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--textColor-1) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--textColor-1) transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: var(--textColor-1);
  font-size: 1.3rem;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  height: auto;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--bg);
  margin-top: 0.5rem;
  width: 20rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: var(--shadowPreset-3);
  margin-left: 1.37rem;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.06);
}

#e-loading-spinner,
#c-loading-spinner {
  margin-right: 2rem;
  margin-top: 1rem;
}

.deepInvResIcon {
  width: 4rem;
  height: 4rem;
  filter: drop-shadow(0.3rem 0.3rem 0.2rem var(--shadow-1)) 
          drop-shadow(-0.2rem -0.2rem 0.5rem var(--shadow-2));
}

.icon-space {
  width: 4rem;
  margin-left: 3rem;
}

.hidden-email-save {
  width: 0;
  height: 0;
  opacity: 0;
}

.email-subcontainer,
.c-email-subcontainer,
.phone-subcontainer,
.e-phone-container {
  display: flex;
}

.service-icon,
.valid-icon,
.country-icon {
  height: 2.5rem;
  margin: 1rem;
  margin-bottom: 0;
  display: flex;
}

.country-icon {
  margin-top: 1.5rem;
  margin-left: 0;
}

.service-icon {
  width: 2.5rem;
}

.valid-icon {
  width: 3.3rem;
}

.service-icon-div,
.valid-icon-div {
  display: flex;
}

.info-div,
.v-info-div {
  display: flex;
}

.v-phone,
.e-phone {
  width: 42rem !important;
}

.email-container,
.c-email-container,
.v-email-container,
.phone-container,
.e-phone-container,
.v-phone-container {
  margin-bottom: 1.5rem;
  box-shadow: var(--shadowPreset-5);
  padding: 1rem;
  border-radius: 1rem;
}

.info-btn,
.c-info-btn,
.del-btn,
.v-info-btn,
.e-info-btn {
  align-self: center;
  margin-left: 1rem;
}

.add-btn,
.info-btn,
.del-btn,
.c-add-btn,
.c-info-btn,
.c-del-btn,
.v-info-btn,
.e-info-btn {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  box-shadow: var(--shadowPreset-5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: var(--textColor-1);
  transition: all .5s ease;
}

.add-btn:active,
.info-btn:active,
.del-btn:active,
.c-add-btn:active,
.c-info-btn:active,
.c-del-btn:active,
.v-info-btn:active,
.e-info-btn:active {
  box-shadow: var(--shadowPreset-2);
  color: var(--textColor-hover);
}

.add-btn:hover,
.info-btn:hover,
.del-btn:hover,
.c-add-btn:hover,
.c-info-btn:hover,
.c-del-btn:hover,
.v-info-btn:hover,
.e-info-btn:hover {
  color: var(--textColor-hover);
}

#logo {
  font: 0.1rem / 0.05rem monospace;
  background-color: white;
  overflow: hidden;
  border: medium none;
  color: black;
}

#e-mail,
#c-e-mail,
#v-e-mail {
  align-self: center;
  width: 42rem;
  height: 2.7rem;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}

abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.hitbox-abbr {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
}

#notes-header,
#e-notes-header,
#c-notes-header,
#v-notes-header {
  color: var(--textColor-1);
  font-size: 1.4rem;
}

#space-maker,
#e-space-maker,
#c-space-maker,
#v-space-maker {
  margin-top: 0.4rem;
  height: fit-content;
  width: 67rem;
  padding: 1rem;
  display: block;
}

#notes,
#e-notes,
#c-notes {
  width: 63.5rem;
  min-height: 20rem;
  height: fit-content;
  padding: 1rem;
}

#acc-backbtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4rem;
  margin-bottom: 3rem;
}

#base-no-results,
#acc-no-results {
  display: none;
  justify-content: center;
  height: 43rem;
  width: 100%;
}

#base-no-results-text,
#acc-no-results-text {
  margin: 2rem;
  font-size: 1.7rem;
  color: var(--noResultsText);
}

.hitbox {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100%;
  width: 100%;
}

.search-chip {
  width: 30rem;
  height: 4rem;
  display: flex;

}

.search-container {
  display: flex;
}

.term-container {
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
  border-radius: 3rem;
  box-shadow: var(--shadowPreset-1);
  padding: 2rem;
  margin: 1rem;
}

.term-header {
  font-size: 1.6rem;
  color: var(--textColor-1);
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

.acc-row {
  margin-bottom: 2rem;
}

.acc-header {
  align-items: center;
  justify-self: center;
}

.manage-btn-container {
  right: 0;
  position: absolute;
  margin-right: 1rem;
}

.manage-acc-chip {
  flex-direction: row;
  height: 9rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.acc-search-icon {
  font-size: 1.4rem;
}

#acc-chip {
  display: inline-block;
  margin-left: 1rem;
  margin-top: 1rem;
}

#acc-search-chip {
  display: inline-block;
  margin-left: 1rem;
  width: 4rem;
  position: relative;
  bottom: -0.2rem;
}

#acc-searchbtn {
  margin-top: 0;
}

#acc-rejectbtn {
  float: right;
  margin: 2rem;
  margin-right: 2rem;
}

#acc-acceptbtn {
  float: right;
  margin: 2rem;
  margin-left: 5rem;
}

#e-accbtn {
  float: none;
  margin: 2rem;
  width: 20rem;
}

.left-container {
  width: 40rem;
}

.userPfp {
  float: left;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin: 0.5rem;
}

.accounts {
  display: block;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

#accounts {
  display: block;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.acc-chip {
  display: flex;
  flex-direction: row;
  height: 9rem;
  width: 67rem;
  margin-top: 0.5rem;
  align-items: center;
  border-radius: 1rem;
  box-shadow: var(--shadowPreset-5);
  margin-left: 1.37rem;
  margin-bottom: 1rem;
}

.serviceName {
  font-size: 1.5rem;
  color: var(--textColor-1);
}

.userName {
  font-size: 2rem;
  color: var(--textColor-1);
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
}

.userBio {
  font-size: 1.7rem;
  color: var(--textColor-1);
  display: -webkit-box !important;
  max-width: 28rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.table {
  display: flex;
}

.e-name-tag,
.c-name-tag,
.acc-name-tag,
.name-tag {
  font-size: 1.7rem;
  color: var(--textColor-1);
  outline: none;
  width: 100%;
  margin-right: 1rem;
  background: transparent;
  border: none;
}

.e-name-tag::placeholder,
.c-name-tag::placeholder,
.acc-name-tag::placeholder {
  color: var(--textColor-1);
}

#acc-name-tag {
  background: none;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  width: 95%;
  padding: 1rem;
}

#acc-name-tag::placeholder {
  color: var(--textColor-1);
}

#e-showid,
#v-showid {
  color: transparent;
  font-size: 0;
}

.tag {
  display: flex;
  font-size: 1.4rem;
  color: var(--textColor-1);
  margin: 1.2rem;
  margin-right: 0.4rem;
  position: relative;
  top: 0;
}

#acc-scroll-box,
.scroll-box {
  overflow: hidden;
  overflow-y: scroll;
  height: 42rem;
}

.scroll-box p,
#acc-scroll-box p {
  display: flex;
}

.scroll-box::-webkit-scrollbar,
#acc-scroll-box::-webkit-scrollbar {
  width: 12px;
  -webkit-appearance: none;
}

.scroll-box::-webkit-scrollbar-thumb,
#acc-scroll-box::-webkit-scrollbar-thumb {
  background: var(--bg);
  border-radius: 3rem;
  box-shadow: var(--shadowPreset-6);
}

.container,
.acc-container,
.create-container,
.edit-container {
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  overflow: hidden;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  overflow: hidden;
}

.components {
  position: relative;
  width: 80rem;
  height: 60rem;
  border-radius: 3rem;
  box-shadow: var(--shadowPreset-1);
  padding: 4rem;
  overflow: hidden;
}

/*  BUTTONS  */

.delAccBtn-deep,
.delAccBtn {
  width: 4rem !important;
  height: 4rem !important;
  margin-bottom: 1rem;
  margin-top: 1rem !important;
  margin-left: 2rem;
  margin-right: 0;
  font-size: 2rem;
}

.delAccBtn {
  margin-left: 17rem !important;
}

.deepInvBtnTxt {
  text-align: center;
}

#deepInvBtn {
  float: right;
  width: 13rem;
  margin: 4rem;
  margin-right: 0;
  margin-left: 2rem;
}

#newbtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4rem;
  margin-bottom: 3rem;
}

#c-savebtn,
#e-savebtn,
#savemdbtn {
  margin-right: 2rem;
}

#exportbtn {
  margin-right: 12rem;
}

.btn {
  width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: var(--shadowPreset-3);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-secondary {
  float: right;
  margin-top: 2rem;
  color: var(--textColor-1);
}

.btn-secondary:hover {
  color: var(--textColor-hover);
}

.btn-secondary:active {
  box-shadow: var(--shadowPreset-2);
}

.btn p {
  font-size: 1.6rem;
}

/*  FORM  */

.form {
  display: table-cell;
  min-width: 10rem;
  max-width: 60rem;
  align-items: flex-start;
  margin: 1rem;
  margin-left: 0.7rem;
}

.form-input {
  display: inline-block;
  width: 100%;
  height: fit-content;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  box-shadow: var(--shadowPreset-2);
  background: none;
  font-family: inherit;
  color: var(--textColor-1);
}

.form-input::-moz-placeholder {
  color: var(--greyLight-3);
}

.form-input:-ms-input-placeholder {
  color: var(--greyLight-3);
}

.form-input::placeholder {
  color: var(--greyLight-3);
}

.form-input:focus {
  outline: none;
  box-shadow: var(--shadowPreset-3);
}


/* LIST */

#list-holder {
  padding: 2rem;
  overflow: hidden;
  height: 43rem;
  column-count: 2;
  column-fill: auto;
  padding-left: 1rem;
}

#list-holder li {
  padding: 0.5rem;
  color: var(--textColor-1);
}

/*  CHIP  */
.chip {
  margin-bottom: 1rem;
  justify-self: center;
  width: 32rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: var(--shadowPreset-3);
  display: flex;
  align-items: center;
  margin-left: 1.37rem;
}

.chip-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  margin: 0 0 0 0.2rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: var(--textColor-1);
}

.text-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.card-text {
  font-size: 1.2rem;
  color: var(--textColor-1);
}

.chip-edit,
.chip-acc,
.chip-delete {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.5rem;
  display: flex;
  font-size: 1.6rem;
  color: var(--textColor-1);
  cursor: pointer;
  transition: 0.3s ease;
}

.chip-edit:hover,
.chip-acc:hover,
.chip-delete:hover {
  color: var(--textColor-hover);
}


/*  SEARCH  */
.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 72rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 3.8rem;
  box-shadow: var(--shadowPreset-2);
  background: none;
  font-family: inherit;
  color: var(--textColor-hover);
}

.search-input::-moz-placeholder {
  color: var(--textColor-1);
}

.search-input:-ms-input-placeholder {
  color: var(--textColor-1);
}

.search-input::placeholder {
  color: var(--textColor-1);
}

.search-input:focus {
  outline: none;
  box-shadow: var(--shadowPreset-3);
}

.search-input:focus+.search-icon {
  color: var(--textColor-hover);
}

.search-icon {
  height: 2rem;
  position: absolute;
  font-size: 2rem;
  padding: 0 1rem;
  display: flex;
  color: var(--textColor-1);
  transition: 0.3s ease;
}

.info-container {
  max-width: 29rem;
  width: 29rem;
}

#deepInvLoadingSpinner {
  top: 0;
}

.neu {
  top: 1rem;
  width: 4rem;
  height: 4rem;
  background: transparent;
  float: right;
  display: none;
  align-items: center;
  position: relative;
  justify-content: center;
}

.neu_shape,
.neu_inner {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadowPreset-2);
}

.neu_inner {
  width: 2.3rem;
  height: 2.3rem;
  box-shadow: var(--shadowPreset-4);
}

.neu_ball {
  position: absolute;
  height: 4rem;
  width: 0.44rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.neu_ball::before,
.neu_ball::after {
  content: "";
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
  top: 3px;
  box-shadow: var(--shadowPreset-7);
  background-image: linear-gradient(112deg, var(--loadingColor-dark) 21.6%, var(--loadingColor) 92.2%);
}

.neu_ball::after {
  top: auto;
  bottom: 3px;
}

.neu_ball:nth-child(1) {
  animation: spin 5s ease-in-out infinite;
  z-index: 4;
}

.neu_ball:nth-child(2) {
  animation: spin 5s 0.04s ease-in-out infinite;
  z-index: 3;
  opacity: 0.7;
}

.neu_ball:nth-child(3) {
  animation: spin 5s 0.08s ease-in-out infinite;
  z-index: 2;
  opacity: 0.4;
}

.neu_ball:nth-child(4) {
  animation: spin 5s 0.12s ease-in-out infinite;
  z-index: 1;
  opacity: 0.4;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

.neu_ball:nth-child(2)::before,
.neu_ball:nth-child(2)::after {
  transform: scale(0.9);
}

.neu_ball:nth-child(3)::before,
.neu_ball:nth-child(3)::after {
  transform: scale(0.8);
}

.neu_ball:nth-child(4)::before,
.neu_ball:nth-child(4)::after {
  transform: scale(0.7);
}